footer {
  position: fixed;
  background-color: #333;
  width: 100%;
  color: #fff;
  padding: 0.5em;
  bottom: 0;
}

.conFooter {
  margin: 0 auto;
  display: flex;
  padding: 0%;
  margin-left: 0px;
  align-items: center;
}

.conFooter nav .ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.conFooter nav .li {
  margin: 0 1em;
}

.conFooter nav .a {
  color: #fff;
  text-decoration: none;
}

.conFooter nav .a:hover {
  text-decoration: underline;
  color: #f00;
}

.copyRight {
  width: 100%;
  text-align: center;
}

.copyRight p {
  margin: 0%;
}
