.logo {
  position: fixed;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  background-color: whitesmoke;
  text-decoration: none;
  width: 100%;
  top: 5px;
  left: 5px;
}

.TopNav {
  position: fixed;
  top: 40px;
  background-color: #333333;
  width: 100%;
}

.TopNav nav .ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  display: flex;
  align-items: center;
}

.TopNav nav .li {
  margin: 0 10px;
}

.TopNav nav .a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.TopNav nav .a:hover {
  text-decoration: underline;
  color: #f00;
}
